<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: head(title='Gameshop4 - Bienvenido')"></head>
<body>
<div class='container container-app'>
    <div th:replace="fragments/header.html :: header(option='Juegos')"></div>

    <div id="content">
        <main>
            <!-- Contenido -->
            <div class="page-header text-center">
                <h1>Carrito de Juegos</h1>
            </div>
            <div class="container-fluid">

                <a class="btn btn-success mt-4 mb-4" th:href="@{/carrito/comprar}"><span class="bi bi-credit-card"></span> Comprar</a>
                <div th:if="${msg != null}" class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="bi bi-check-circle-fill"></i>
                    <span th:text="${msg}"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th></th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Plataforma</th>
                        <th>Distribuidora</th>
                        <th>Precio (S/)</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="juego,cuenta : ${session.carrito}">
                        <td th:text="${cuenta.count}"></td>
                        <td>
                            <div class="overflow-hidden" style="width: 100px;">
                                <img th:src="${juego.image}" th:alt="${juego.nombre}" style="min-width: 100px; width: 100%; height: 100%; object-fit: cover">
                            </div>
                        </td>
                        <td>
                             <span th:text="${juego.nombre}" >
                            </span>
                            <span class="badge bg-warning text-dark" th:text="${juego.genero.nombre}">
                            </span>
                        </td>
                        <td th:text="${juego.descripcion}"></td>
                        <td th:text="${juego.plataforma}"></td>
                        <td th:text="${juego.distribuidora}"></td>
                        <td th:text="${juego.precio}"></td>
                        <td><a class="btn btn-danger" th:title="Borrar" th:href="@{'/carrito/borrar?id='+${juego.idjuego}}">
                            <span class="bi bi-trash"></span></a></td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <!-- /Contenido -->
        </main>
        <div th:replace="fragments/footer.html :: footer(year='2022')"></div>
    </div>
</div>
<div th:replace="fragments/base.html :: jsScripts"></div>
</body>
</html>