<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: head(title='Gameshop4 - Bienvenido')"></head>
<body>
<div class='container container-app'>
    <div th:replace="fragments/header.html :: header(option='Juegos')"></div>

    <div id="content">
        <main>
            <!-- Contenido -->
        <div class="page-header text-center">
            <h2 th:text="${juego.id == 0? 'Nuevo Juego' : 'Editar Juego'}"></h2>
        </div>
        <div class="container-fluid">
                <form method="POST" class="row g-3" th:object="${juego}"  th:action="@{/juegos/guardar}">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" th:classappend="${#fields.hasErrors('nombre')?'is-invalid':''}" th:field="*{nombre}" >
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error</div>
                    </div>
                    <div class="form-group">
                        <label>Descripción</label>
                        <textarea class="form-control" th:classappend="${#fields.hasErrors('descripcion')?'is-invalid':''}" id="descripcion" name="descripcion" th:field="*{descripcion}"></textarea>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}">Error</div>
                    </div>
                    <div class="form-group">
                        <label for="genero.id">Género</label>
                        <select class=" form-select" th:classappend="${#fields.hasErrors('genero.id')?'is-invalid':''}" th:field="*{genero.id}" >
                            <option value="-1">- Seleccione -</option>
                            <option th:each="genero : ${listaGeneros}"
                                    th:value="${genero.id}"
                                    th:text="${genero.nombre}"
                                    th:selected="(${genero.id} == *{genero.id})" ></option>
                        </select>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('genero.id')}" th:errors="*{genero.id}">Error</div>
                    </div>
                    <div class="form-group">
                        <label for="plataforma.id">Plataforma</label>
                        <select class="form-select" th:classappend="${#fields.hasErrors('plataforma.id')?'is-invalid':''}" th:field="*{plataforma.id}" >
                          <option value="-1">- Seleccione -</option>
                          <option th:each="plataforma : ${listaPlataformas}"
                              th:value="${plataforma.id}"
                              th:text="${plataforma.nombre}"
                              th:selected="(${plataforma.id} == *{plataforma.id})" ></option>
                        </select>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('plataforma.id')}" th:errors="*{plataforma.id}">Error</div>
                    </div>
                    <div class="form-group">
                        <label for="distribuidora.id">Distribuidora</label>
                        <select class="form-select" th:classappend="${#fields.hasErrors('distribuidora.id')?'is-invalid':''}" th:field="*{distribuidora.id}" >
                            <option value="-1">- Seleccione -</option>
                            <option th:each="distribuidora : ${listaDistribuidoras}"
                                    th:value="${distribuidora.id}"
                                    th:text="${distribuidora.nombre}"
                                    th:selected="(${distribuidora.id} == *{distribuidora.id})" ></option>
                        </select>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('distribuidora.id')}" th:errors="*{distribuidora.id}">Error</div>
                    </div>
                    <div class="form-group">
                        <label>Imagen URL</label>
                        <input type="text" class="form-control"  th:field="*{image}" >
                    </div>
                    <div class="form-group">
                        <label>Precio</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">S/</div>
                            </div>
                            <input type="text" th:classappend="${#fields.hasErrors('precio')?'is-invalid':''}" class="form-control"  th:field="*{precio}" >
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}">Error</div>
                        </div>
                    </div>
                    <input type="hidden" th:field="*{id}" />
                    <div class="form-group">
                        <a th:href="@{/juegos/lista}" class="btn btn-danger">Cancelar</a>
                        <button type="submit" class="btn btn-primary" th:text="${juego.id == 0? 'Registrar' : 'Actualizar'}">Reg/act</button>
                    </div>
                </form>
        </div>
        </main>
    </div>
            <!-- /Contenido -->
    <div th:replace="fragments/footer.html :: footer(year='2022')"></div>
</div>
<div th:replace="fragments/base.html :: jsScripts"></div>
</body>
</html>