<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/base.html :: head(title='Gameshop4 - Bienvenido')"></head>
<body>
<div class='container container-app'>

    <div th:replace="fragments/header.html :: header(option='Vista')"></div>

    <div id="content">
        <main>
            <!-- Contenido -->
            <div class="container-fluid">

                <div class="page-header text-center">
                    <h1>Lista de Juegos</h1>
                </div>
                <div class="container-fluid">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 card-app">
                        <div class="col mb-4" th:each=" juego : ${listaJuegos}">
                            <div class="card" >
                                <img th:src="${juego.image}" th:alt="${juego.nombre}" class="card-img-top" alt="Card image cap">
                                <span class="position-absolute top-100 end-0 translate-middle badge bg-danger fs-6" th:text="'$' + ${juego.precio}" ></span>
                                <a class="btn btn-primary" th:title="Comprar" th:href="@{'/carrito/nuevo?id='+${juego.idjuego}}"><span class="bi bi-plus-circle"></span> Comprar</a>
                                <div class="card-body">
                                    <div class="card-title">
                                        <span class="h-5" th:text="${juego.nombre}" >
                                        </span>
                                        <span class="badge bg-warning text-dark" th:text="${juego.genero.nombre}">
                                        </span>
                                    </div>
                                    <p class="card-text" th:text="${juego.descripcion}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /Contenido -->
        </main>
        <div th:replace="fragments/footer.html :: footer(year='2022')"></div>
    </div>
</div>
<div th:replace="fragments/base.html :: jsScripts"></div>
</body>
</html>